.general-info {

    display: grid;
    justify-items: center;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    margin: 0 auto;

    max-width: 750px;

}

input {

    padding: 0.25em;
    margin: 0.5rem;

}

label {


}

.contact {
    grid-row: 1/3;
    grid-column: 1/2;
}

.first-name,
.last-name {

    align-self: start;
    transform: translateY(110%)

}

h3.first-name,
h3.last-name {

    font-size: 4em;
    align-self: start;
    transform: translate(0);

}

h3.first-name {

    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: right;

}

h3.last-name {

    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: left;

}

h3.email,
h3.phone {

    font-size: 1em;

}

.seperator {

    width: 80%;
    margin: 0 auto;
    height: 0px;
    border: 1px solid rgba(0,0,0,0.4);

}



